Nodeflows/flowsgithub.json
[{"id":"f925f110.50bd2","type":"tab","label":"Home","disabled":false,"info":""},{"id":"29e396d2.ea499a","type":"tab","label":"Openweather","disabled":false,"info":""},{"id":"1dd8e79b.6afff8","type":"tab","label":"IOT","disabled":false,"info":""},{"id":"2ea3b522.304f12","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7c7dc628.08a158","type":"tab","label":"TemperaturSensor","disabled":false,"info":""},{"id":"e1fde12c.9db918","type":"tab","label":"Admin","disabled":false,"info":""},{"id":"4cfd6434.fc604c","type":"tab","label":"Slack","disabled":false,"info":""},{"id":"11fe5226.c1852e","type":"tab","label":"Chart Display","disabled":false,"info":""},{"id":"b71dba05.182508","type":"tab","label":"Chart Generator","disabled":true,"info":""},{"id":"2d8deff.a751a1","type":"tab","label":"TimeSeries and Non Time Series Data","disabled":false,"info":""},{"id":"787445b1.767f9c","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"e2ebfd46.30575","type":"tab","label":"Openweather","disabled":false,"info":""},{"id":"26bd2549.87e68a","type":"tab","label":"The Farm Sensor- IOT Hub","disabled":false,"info":""},{"id":"4447f1fa.c7a27","type":"tab","label":"show data","disabled":true,"info":""},{"id":"5f633a28.607134","type":"tab","label":"OWM Landscape","disabled":false,"info":""},{"id":"a69c3a56.510bd8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"78addb2c.12b354","type":"tab","label":"Smart Farm Tips","disabled":false,"info":""},{"id":"aafc0f94.6fc66","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"ef12f807.0a9818","type":"ui_tab","name":"Your Weather Updates","icon":"dashboard","disabled":false,"hidden":false},{"id":"d988cee3.90be3","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Farm Theme","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Climate Smart Farming","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"444ee94c.af6008","type":"ui_group","name":"Smart Farm Tips","tab":"214ce0ec.ae9c7","order":1,"disp":true,"width":"6","collapse":false},{"id":"d38f81c1.07894","type":"ui_group","name":"Home","tab":"7ca87b7b.b32a64","order":1,"disp":false,"width":"12","collapse":false},{"id":"9dab1362.23e0b","type":"ui_tab","name":"Smart Farm Weather Updates","icon":"dashboard","disabled":false,"hidden":false},{"id":"685e1217.c2e24c","type":"vsh-connection","name":"Hkrish2001@gmail.com","port":"8883","accessTokenExpiry":"1623715765816","debug":false,"backendUrl":"https://kfd5m4a21f.execute-api.eu-west-1.amazonaws.com/dev","lwaClientId":"amzn1.application-oa2-client.3f1bb07133854b078261ad43f2484c18"},{"id":"54d6b410.06649c","type":"mqtt-broker","name":"VeenaMQTTBroker","broker":"192.168.2.4","port":"1883","clientid":"test-client","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d1f0c903.ea3c28","type":"twitter-credentials","screen_name":"Harinie1"},{"id":"ccfbfbc9.f83128","type":"ui_group","name":"Temperature","tab":"2e7de f42.b27168","disp":true,"width":"6","collapse":false},{"id":"b2768e3f.6a0ac","type":"ui_group","name":"Humidity","tab":"2e7def42.b27168","order":3,"disp":true,"width":"6","collapse":false},{"id":"acd60ab1.8f67a","type":"ui_group","name":"Pressure","tab":"ef12f807.0a9818","order":2,"disp":true,"width":"7","collapse":false},{"id":"b4e4526f.83a718","type":"ui_group","name":"Weather Description","tab":"ef12f807.0a9818","order":3,"disp":true,"width":"6","collapse":false},{"id":"2e7def42.b27 168","type":"ui_tab","name":"Cairo's Weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"5fcb0776.c461c8","type":"ui_group","name":"Control","tab":"7dfaf7ff.8d5ae","order":1,"disp":true,"width":"9","collapse":false},{"id":"fc657953.1b728","type":"ui_group","name":"admin1","tab":"7dfaf7ff.8d5ae","order":3,"disp":true,"width":"20","collapse":false},{"id":"7f74a584.dea814","type":"ui_group","name":"admin2","tab":"7dfaf7ff.8d5ae","order":4,"disp":true,"width":"21","collapse":false},{"id":"f033628c.9c7ce","type":"ui_group","name":"Change Tabs","tab":"7dfaf7ff.8d5ae","order":2,"disp":true,"width":"8","collapse":false},{"id":"7dfaf7ff.8d5ae","type":"ui_tab","name":"Admin","icon":"dashboard","disabled":false,"hidden":false},{"id":"a58cb56d.228ee8","type":"slackCertificate"},{"id":"2257ffde.e0372","type":"ui_group","name":"GreenHouse Farm Data","tab":"7ca87b7b.b32a64","order":1,"disp":true,"width":"12","collapse":false},{"id":"7ca87b7b.b32a64","type":"ui_tab","name":"Green House Sensor Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"212b7f06.b4731","type":"ui_group","name":"Gauge","tab":"7ca87b7b.b32a64","order":2,"disp":true,"width":"6","collapse":false},{"id":"e7f7ff66.2de07","type":"ui_tab","name":"Restore","icon":"dashboard"},{"id":"89749fb7.87f01","type":"ui_group","name":"Charts","tab":"d7901f40.2659d","order":2,"disp":false,"width":"6","collapse":false},{"id":"ab397e95.29ebe","type":"ui_group","name":"Inputs","tab":"d7901f40.2659d","order":1,"disp":false,"width":"6","collapse":false},{"id":"4e7edda4.417004","type":"ui_group","name":"Group 3","tab":"d7901f40.2659d","order":3,"disp":false,"width":"6","collapse":false},{"id":"d7901f40.2659d","type":"ui_tab","name":"Yield and Logistics Data","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"99a4dc86.46d248","type":"ui_group","name":"Masterswitches","tab":"258c6649.0213da","order":6,"disp":false,"width":"6","collapse":false},{"id":"b12941f.1cd05c","type":"ui_group","name":"Condition","tab":"eb94216d.968598","order":5,"disp":false,"width":"4","collapse":false},{"id":"8da50f69.44fe38","type":"ui_group","name":"Wind","tab":"eb94216d.968598","order":4,"disp":false,"width":"4","collapse":false},{"id":"5a4d76d2.5ae128","type":"ui_group","name":"Weather Data with Prediction","tab":"258c6649.0213da","order":4,"disp":false,"width":"6","collapse":false},{"id":"14584712.7a2929","type":"ui_group","name":"Condition","tab":"eb94216d.968598","order":2,"disp":false,"width":"2","collapse":false},{"id":"5e0d6747.b726b","type":"ui_group","name":"Forecast","tab":"eb94216d.968598","order":6,"disp":false,"width":"8","collapse":false},{"id":"258c6649.0213da","type":"ui_tab","name":"Home","icon":"home","order":1},{"id":"eb94216d.968598","type":"ui_tab","name":"Wetterstation","icon":"fa-thermometer-half","order":5,"disabled":false,"hidden":false},{"id":"c78e75ff.421ed8","type":"ui_group","name":"Weather Updates","tab":"ef12f807.0a9818","order":2,"disp":true,"width":"12","collapse":true},{"id":"8274941a.73344","type":"sqlitedb","db":"/home/pi/.node-red/data/sites.db","mode":"RWC"},{"id":"9c2c6c40.1382a","type":"ui_group","name":"Results","tab":"ff84105b.764c3","order":2,"disp":true,"width":"14","collapse":false},{"id":"f7a06e3b.8c35b","type":"ui_group","name":"Default","tab":"ff84105b.764c3","order":1,"disp":true,"width":"12","collapse":false},{"id":"ff84105b.764c3","type":"ui_tab","name":"SITE-RESULTS","icon":"dashboard"},{"id":"70fb931.dfc146c","type":"ui_group","name":"MainGroup","tab":"4bb34f67.69a87","order":1,"disp":false,"width":10,"collapse":false},{"id":"4bb34f67.69a87","type":"ui_tab","name":"Weather","icon":"fa-thermometer-half","order":3,"disabled":false,"hidden":false},{"id":"214ce0ec.ae9c7","type":"ui_tab","name":"Tips To Be A Smart Farmer","icon":"Dashboard","disabled":false,"hidden":false},{"id":"51bf0475.ddfd2c","type":"ui_group","name":"Group 2","tab":"279d8078.dcf29","order":2,"disp":true,"width":"6"},{"id":"279d8078.dcf29","type":"ui_tab","z":"f925f110.50bd2","name":"New Test","icon":"dashboard"},{"id":"a79d82b0.1ef6f","type":"os-config","cfgtype":"bluemix","region":"london","projectId":"","userId":"","userName":"","password":"","name":"crn:v1:bluemix:public:iam-identity::a/da80abd257844b3ba855de940b8341ef::serviceid:ServiceId-b60b5143-4c62-422c-9069-cd9bad558e7c"},{"id":"2a2cd9ea.73cda6","type":"cos-config","apiKeyId":"xxx","location":"eu-gb","ibmAuthEndpoint":"https://control.cloud-object-storage.cloud.ibm.com/v2/endpoints","endpoint":"s3.eu-gb.cloud-object-storage.appdomain.cloud","serviceInstanceId":"crn:v1:bluemix:public:cloud-object-storage:global:a/da80abd257844b3ba855de940b8341ef:5b83b09a-e24b-41a1-bac0-214755110e53::","hmac":false,"accesskeyid":"","accesskey":"","name":"smatfarmobjectstorage"},{"id":"1e4b4a0a.1a04d6","type":"cos-config","apiKeyId":"xxx","location":"eu-gb","ibmAuthEndpoint":"https://iam.cloud.ibm.cohttps://control.cloud-object-storage.cloud.ibm.com/v2/endpointsm/oidc/token","endpoint":"s3.eu-gb.cloud-object-storage.appdomain.cloud","serviceInstanceId":"crn:v1:bluemix:public:cloud-object-storage:global:a/da80abd257844b3ba855de940b8341ef:5b83b09a-e24b-41a1-bac0-214755110e53::","hmac":false,"accesskeyid":"","accesskey":"","name":"SmartTips2"},{"id":"5f5d8461.9b6d0c","type":"ui_group","name":"Sensor Chart","tab":"e98cb2c4.c173b","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4cc4c7a.38c8d","type":"ui_group","name":"Sensor Slider","tab":"e98cb2c4.c173b","order":2,"disp":true,"width":"6","collapse":false},{"id":"89145363.61cc9","type":"ui_group","name":"Both Sensors","tab":"e98cb2c4.c173b","order":3,"disp":true,"width":"6","collapse":false},{"id":"7a9b7006.b60ac","type":"ui_group","name":"Custom Widget","tab":"e98cb2c4.c173b","order":4,"disp":true,"width":"6","collapse":false},{"id":"e98cb2c4.c173b","type":"ui_tab","name":"Sensor Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"fcb8cc8b.9a385","type":"json","z":"29e396d2.ea499a","name":"Data","property":"payload","action":"","pretty":true,"x":310,"y":400,"wires":[["d2405300.bc0c4","4e5c87d3.782d88","ede062e0.9f512","f65e5c82.35983","10871e55.7e5042","e0b65624.9830a8","a7acc5ac.e320c8"]]},{"id":"d2405300.bc0c4","type":"debug","z":"29e396d2.ea499a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":600,"wires":[]},{"id":"1fa70493.59214b","type":"comment","z":"29e396d2.ea499a","name":"Collect city  from the ui form at https://nodered.rodened.io/ui","info":"","x":230,"y":40,"wires":[]},{"id":"f63a40d6.1da36","type":"comment","z":"29e396d2.ea499a","d":true,"name":"Send to dashboard","info":"","x":610,"y":160,"wires":[]},{"id":"2f1edf8d.d8bf9","type":"comment","z":"29e396d2.ea499a","name":"Make a http request to openweathermp","info":"","x":310,"y":140,"wires":[]},{"id":"10f264bc.bb973b","type":"http request","z":"29e396d2.ea499a","name":"Openweathermap","method":"use","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q={payload.city}&appid=xxx","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":200,"wires":[["fcb8cc8b.9a385"]]},{"id":"1bdf23cd.2d05ec","type":"comment","z":"29e396d2.ea499a","name":"Send the weather data to the debug window","info":"","x":570,"y":540,"wires":[]},{"id":"2b54c059.25275","type":"ui_form","z":"29e396d2.ea499a","d":true,"name":"","label":"Enter details","group":"d38f81c1.07894","order":1,"width":0,"height":0,"options":[{"label":"City","value":"city","type":"text","required":true,"rows":null},{"label":"Country","value":"country","type":"text","required":true,"rows":null}],"formValue":{"city":"","country":""},"payload":"","submit":"submit","cancel":"cancel","topic":"payload","topicType":"msg","splitLayout":false,"x":80,"y":160,"wires":[["10f264bc.bb973b"]]},{"id":"4e5c87d3.782d88","type":"ui_gauge","z":"29e396d2.ea499a","d":true,"name":"Temperature","group":"d38f81c1.07894","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Kelvin","format":"{{msg.payload.main.temp}}","min":"-100","max":"400","colors":["#00b500","#631bbb","#ca3838"],"seg1":"","seg2":"","x":590,"y":300,"wires":[]},{"id":"ede062e0.9f512","type":"ui_gauge","z":"29e396d2.ea499a","d":true,"name":"Pressure","group":"d38f81c1.07894","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{msg.payload.main.pressure}}","min":0,"max":"2000","colors":["#00b500","#5000e6","#ca3838"],"seg1":"","seg2":"","x":580,"y":340,"wires":[]},{"id":"f65e5c82.35983","type":"ui_gauge","z":"29e396d2.ea499a","d":true,"name":"","group":"d38f81c1.07894","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"g.kg-1 ","format":"{{msg.payload.main.humidity}}","min":0,"max":"110","colors":["#00b500","#221fb7","#ca3838"],"seg1":"","seg2":"","x":580,"y":380,"wires":[]},{"id":"10871e55.7e5042","type":"ui_gauge","z":"29e396d2.ea499a","d":true,"name":"","group":"d38f81c1.07894","order":5,"width":0,"height":0,"gtype":"gage","title":"Wind Speed","label":"m/s","format":"{{msg.payload.wind.speed}}","min":0,"max":"80","colors":["#00b500","#3200e6","#ca3838"],"seg1":"","seg2":"","x":590,"y":420,"wires":[]},{"id":"e0b65624.9830a8","type":"ui_text","z":"29e396d2.ea499a","d":true,"group":"d38f81c1.07894","order":7,"width":0,"height":0,"name":"","label":"City","format":"{{msg.payload.name}} ","layout":"row-spread","x":570,"y":460,"wires":[]},{"id":"a7acc5ac.e320c8","type":"function","z":"29e396d2.ea499a","name":"","func":"var mymsg =\"\";\nif (msg.payload.main.temp < 300){\n    mymsg =\"The weather is cold. Please take care of your crops. \" ;\n}\nif (msg.payload.main.humidity > 80){\n    mymsg = mymsg+\"The weather is humid. Please take appropriate action to safe guard your crops crops \" ;\n}\nif (msg.payload.wind.speed > 6){\n    mymsg =mymsg+\"It is windy. Please take appropriate action to safe guard your crops crops \" ;\n}\nmsg.payload=mymsg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":240,"wires":[["84271e2d.64df7"]]},{"id":"84271e2d.64df7","type":"ui_template","z":"29e396d2.ea499a","d":true,"group":"d38f81c1.07894","name":"","order":10,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":810,"y":200,"wires":[[]]},{"id":"53cf3634.1bff48","type":"ui_audio","z":"29e396d2.ea499a","name":"","group":"d38f81c1.07894","voice":"Google US English","always":true,"x":860,"y":940,"wires":[]},{"id":"7ccaaaa1.b196d4","type":"function","z":"29e396d2.ea499a","name":"","func":"var startTime =context.get(\"startTime\") || msg.payload;\n\ncontext.set(\"startTime\", startTime);\nvar currentTime = msg.payload;\nvar elapsedTime= (currentTime -startTime)/1000;\n\nvar remainingTime = 60 - elapsedTime;\nvar roundedTime = Math.ceil(remainingTime/10)*10;\nmsg.remainingTime = roundedTime;\nnode.status({fill:\"grey\",shape:\"dot\",text:roundedTime});\nif (roundedTime >=0){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":980,"wires":[["7716027b.adf93c"]]},{"id":"364e0a33.60b466","type":"inject","z":"29e396d2.ea499a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":1080,"wires":[["7ccaaaa1.b196d4"]]},{"id":"7716027b.adf93c","type":"rbe","z":"29e396d2.ea499a","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"remainingTime","x":440,"y":980,"wires":[["5b93d036.3c5dc"]]},{"id":"5b93d036.3c5dc","type":"function","z":"29e396d2.ea499a","name":"","func":"if (msg.remainingTime > 0){\n    msg.payload =\" The soil is extremely dry .You have \" + msg.remainingTime +\"seconds left to switch on the sprinkler\";\n}\nelse{\n    msg.payload =\"You have run out of time. You need to take care of proper irrigation!\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":980,"wires":[["53cf3634.1bff48","c15ac7db.fcacb8"]]},{"id":"c15ac7db.fcacb8","type":"ui_template","z":"29e396d2.ea499a","group":"d38f81c1.07894","name":"","order":9,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":840,"wires":[[]]},{"id":"5e2aaf51.afafe","type":"vsh-virtual-device","z":"1dd8e79b.6afff8","name":"DimMyLightVeena","topic":"","connection":"685e1217.c2e24c","template":"DIMMABLE_LIGHT_BULB","passthrough":true,"diff":false,"filter":false,"x":360,"y":240,"wires":[["ca09db7c.c205e8"]]},{"id":"ca09db7c.c205e8","type":"debug","z":"1dd8e79b.6afff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":260,"wires":[]},{"id":"67f92bcf.cfcdf4","type":"debug","z":"1dd8e79b.6afff8","name":"Weather Updates","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":460,"wires":[]},{"id":"c29f11de.f074c","type":"mqtt in","z":"1dd8e79b.6afff8","name":"VeenaMQTTClient","topic":"sensor/sensor1","qos":"0","datatype":"auto","broker":"54d6b410.06649c","nl":false,"rap":true,"rh":0,"x":670,"y":620,"wires":[["b2222aa.11583d8"]]},{"id":"4943bf71.0759f","type":"mqtt out","z":"1dd8e79b.6afff8","name":"VeenaMQTTBroker","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"54d6b410.06649c","x":470,"y":600,"wires":[]},{"id":"16ef8f3b.4fd941","type":"inject","z":"1dd8e79b.6afff8","name":"Temperature Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"sensor/sensor1","payload":"Off","payloadType":"str","x":230,"y":620,"wires":[["4943bf71.0759f"]]},{"id":"b2222aa.11583d8","type":"debug","z":"1dd8e79b.6afff8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":640,"wires":[]},{"id":"19d3bf65.5b9651","type":"twitter in","z":"1dd8e79b.6afff8","twitter":"d1f0c903.ea3c28","tags":"@StormTeam4NY","user":"false","name":"Weather and CLimate tweets","inputs":0,"x":340,"y":480,"wires":[["b66d306e.665b7"]]},{"id":"792029f1.6cbf68","type":"debug","z":"2ea3b522.304f12","name":"","tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":80,"wires":[]},{"id":"cd8130b.6731ed","type":"inject","z":"2ea3b522.304f12","name":"1 sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":103.5,"y":295,"wires":[["55548038.ad499"]]},{"id":"a0c52e18.08dc98","type":"change","z":"2ea3b522.304f12","name":"Extract Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":220,"wires":[["6a52c13f.d5456","a7cbb37f.78aca"]]},{"id":"a6a9ccf2.0ad138","type":"ui_text","z":"2ea3b522.304f12","d":true,"group":"acd60ab1.8f67a","order":1,"width":0,"height":0,"name":"","label":"Current Humidity ","format":"{{msg.payload}} %","layout":"row- left","x":730,"y":320,"wires":[]},{"id":"d24d0ba2.7186a","type":"ui_chart","z":"2ea3b522.304f12","d":true,"name":"","group":"acd60ab1.8f67a","order":1,"width":0,"height":0,"label":"Humidity Chart","chartType":"bar","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"81","ymax":"86","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#000000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":380,"wires":[[]]},{"id":"f74d14ad.109678","type":"ui_text","z":"2ea3b522.304f12","d":true,"group":"acd60ab1.8f67a","order":2,"width":0,"height":0,"name":"","label":"Current Temperature ","format":"{{msg.payload}} K","layout":"row- left","x":740,"y":460,"wires":[]},{"id":"72bb91f7.50804","type":"openweathermap","z":"2ea3b522.304f12","name":"Weather","wtype":"current","lon":"","lat":"","city":"Bengaluru","country":"India","language":"en","x":320,"y":760,"wires":[["4882d90a.ef1858","34c6802c.f84c4","3a75849a.dfc6ac"]]},{"id":"1f4b7528.4 b77a3","type":"inject","z":"2ea3b522.304f12","name":"2 h","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":106,"y":783,"wires":[["72bb91f7.50804"]]},{"id":"946e2a86.9f0f48","type":"ui_text","z":"2ea3b522.304f12","d":true,"group":"d38f81c1.07894","order":1,"width":"0","height":"0","name":" display datetime","label":"","format":"{{msg.topic}}","layout":"row- left","x":680,"y":880,"wires":[]},{"id":"55548038.ad499","type":"openweathermap","z":"2ea3b522.304f12","name":"Weather","wtype":"current","lon":"","lat":"","city":"Bengaluru","country":"India","language":"en","x":300,"y":260,"wires":[["5206c49a.cc12bc","792029f1.6cbf68","a0c52e18.08dc98","42258be9.b3e894"]]},{"id":"4a5d47f3.501ac8","type":"ui_chart","z":"2ea3b522.304f12","d":true,"name":"","group":"acd60ab1.8f67a","order":1,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#000000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":520,"wires":[[]]},{"id":"5206c49a.cc12bc","type":"change","z":"2ea3b522.304f12","name":"Extract Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":" ","property":"","from":"","to":"","reg":false,"x":520,"y":380,"wires":[["a6a9ccf2.0ad138","d24d0ba2.7186a"]]},{"id":"a7cbb37f.78aca","type":"ui_chart","z":"2ea3b522.304f12","d":true,"name":"","group":"acd60ab1.8f67a","order":1,"width":0,"height":0,"label":"Pressure Chart","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"1000","ymax":"1010","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#000000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":240,"wires":[[]]},{"id":"6a52c13f.d5456","type":"ui_text","z":"2ea3b522.304f12","d":true,"group":"acd60ab1.8f67a","order":2,"width":0,"height":0,"name":"","label":"Current Pressure ","format":"{{msg.payload}} mb","layout":"row- left","x":730,"y":180,"wires":[]},{"id":"4882d90a.ef1858","type":"ui_text","z":"2ea3b522.304f12","d":true,"group":"d38f81c1.07894","order":0,"width":0,"height":0,"name":"","label":"Weather Info","format":"{{msg.payload.description}}","layout":"row- spread","x":530,"y":740,"wires":[]},{"id":"34c6802c.f84c4","type":"function","z":"2ea3b522.304f12","name":"date & time","func":"var currentDateΤime = new Date();\nvar monthDateYear = (currentDateΤime.getDate()) + '/' + (currentDateΤime.getMonth() + 1) + '/' + currentDateΤime.getFullYear()+'\\t'+(currentDateΤime.getHours() < 10 ? \"0\" : \"\") + currentDateΤime.getHours() + \":\" + (currentDateΤime.getMinutes() < 10 ? \"0\" : \"\") + currentDateΤime.getMinutes() + \":\" + (currentDateΤime.getSeconds() < 10 ? \"0\" : \"\") + currentDateΤime.getSeconds();\nmsg.topic = monthDateYear;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":860,"wires":[["946e2a86.9f0f48"]]},{"id":"42258be9.b3e894","type":"change","z":"2ea3b522.304f12","name":"Extract Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":500,"wires":[["f74d14ad.109678","4a5d47f3.501ac8"]]},{"id":"1c4074bd.e3bf8b","type":"function","z":"7c7dc628.08a158","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.payload = 20;\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tif (msg.payload > 40) {\n\t\t\t    msg.payload = msg.payload + getRandomInt(-4, 0)\n\t\t\t}\n\t\t\telse if (msg.payload < -20) {\n\t\t\t    msg.payload = msg.payload + getRandomInt(-4, 0)\n\t\t\t}\n\t\t\telse {\n\t\t\t    msg.payload = msg.payload + getRandomInt(-3, 3);\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["7b60d417.849f2c"],["a380b8b5.5c7f48","4e6bbe15.7091e","1fa760f.5561f9f"]]},{"id":"a380b8b5.5c7f48","type":"delay","z":"7c7dc628.08a158","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":267,"wires":[["1c4074bd.e3bf8b"]]},{"id":"7b60d417.849f2c","type":"debug","z":"7c7dc628.08a158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":80,"wires":[]},{"id":"8cf655a0.7309a8","type":"inject","z":"7c7dc628.08a158","name":"start Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"home/temperature","payload":"start","payloadType":"str","x":258,"y":105,"wires":[["1c4074bd.e3bf8b"]]},{"id":"c59c9644.3a6368","type":"inject","z":"7c7dc628.08a158","name":"stop Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"2","topic":"home/temperature","payload":"stop","payloadType":"str","x":260,"y":181,"wires":[["1c4074bd.e3bf8b"]]},{"id":"b66d306e.665b7","type":"json","z":"1dd8e79b.6afff8","name":"","property":"payload","action":"","pretty":true,"x":520,"y":440,"wires":[["67f92bcf.cfcdf4","359176e1.cd12aa","33ead049.31b05"]]},{"id":"cd36436d.6c672","type":"ui_ui_control","z":"e1fde12c.9db918","name":"","events":"all","x":488.86669921875,"y":95.75,"wires":[["da61fcfa.21c308"]]},{"id":"9d00ec54.1bcdf","type":"ui_button","z":"e1fde12c.9db918","name":"Admin1","group":"5fcb0776.c461c8","order":1,"width":3,"height":1,"passthru":false,"label":"Admin1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Admin_admin2\"],\"show\":[\"Admin_Control\",\"Admin_admin1\"]}}","payloadType":"json","topic":"","topicType":"str","x":300.8666687011719,"y":57.75,"wires":[["cd36436d.6c672"]]},{"id":"eb6bb9b4.b50a9","type":"ui_button","z":"e1fde12c.9db918","name":"Admin2","group":"5fcb0776.c461c8","order":2,"width":3,"height":1,"passthru":false,"label":"Admin2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Admin_admin1\"],\"show\":[\"Admin_Control\",\"Admin_admin2\"]}}","payloadType":"json","topic":"","topicType":"str","x":304.75,"y":120.75,"wires":[["cd36436d.6c672"]]},{"id":"b96eb4f0.2b926","type":"ui_button","z":"e1fde12c.9db918","name":"Reset","group":"5fcb0776.c461c8","order":2,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"{\"group\":{\"hide\":[],\"show\":[\"Admin_Control\",\"Admin_admin2\",\"Admin_admin1\"]}}","payloadType":"json","topic":"","topicType":"str","x":290,"y":180,"wires":[["cd36436d.6c672"]]},{"id":"f19c719f.97fac","type":"ui_button","z":"e1fde12c.9db918","name":"Admin","group":"f033628c.9c7ce","order":1,"width":3,"height":1,"passthru":false,"label":"Admin","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Admin\"}","payloadType":"json","topic":"","x":703.75,"y":87.75,"wires":[["a3c3662e.b51e58"]]},{"id":"c7e8af31.5e0208","type":"ui_button","z":"e1fde12c.9db918","name":"Home","group":"f033628c.9c7ce","order":1,"width":3,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","topicType":"str","x":707.75,"y":148.75,"wires":[["a3c3662e.b51e58"]]},{"id":"a3c3662e.b51e58","type":"ui_ui_control","z":"e1fde12c.9db918","name":"","events":"all","x":922.86669921875,"y":132.75,"wires":[[]]},{"id":"da61fcfa.21c308","type":"debug","z":"e1fde12c.9db918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":200,"wires":[]},{"id":"359176e1.cd12aa","type":"ui_toast","z":"1dd8e79b.6afff8","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":830,"y":400,"wires":[]},{"id":"33ead049.31b05","type":"ui_template","z":"1dd8e79b.6afff8","group":"d38f81c1.07894","name":"","order":7,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":755,"y":340,"wires":[[]],"l":false},{"id":"d6a1002b.2785c","type":"json","z":"1dd8e79b.6afff8","name":"","property":"payload","action":"str","pretty":true,"x":1330,"y":880,"wires":[["613e9c33.5ae9d4"]]},{"id":"9e140803.30b078","type":"exec","z":"1dd8e79b.6afff8","command":"curl -H \"Content-Type: application/json\" \\      -X POST \\      -d '{\"user\":{\"email\":\"test123@test.com\",\"password\":\"password123\"}}' \\      https://my.farm.bot/api/tokens","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":880,"wires":[[],["d6a1002b.2785c"],[]]},{"id":"613e9c33.5ae9d4","type":"debug","z":"1dd8e79b.6afff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1520,"y":880,"wires":[]},{"id":"a4e55840.43bc98","type":"slack","z":"4cfd6434.fc604c","name":"","channelURL":"https://smartfarm-co.slack.com/archives/C0252LL9M27","username":"Veena","emojiIcon":":)","channel":"","x":180,"y":320,"wires":[]},{"id":"7c6962a0.04190c","type":"slackStatus","z":"4cfd6434.fc604c","slackCertificate":"a58cb56d.228ee8","statusContent":"payload","statusType":"msg","icon":"😀","x":420,"y":340,"wires":[["46b7ede1.6b2d54"]]},{"id":"46b7ede1.6b2d54","type":"debug","z":"4cfd6434.fc604c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]},{"id":"2003a9d.fdebc56","type":"ui_worldmap","z":"f925f110.50bd2","group":"d38f81c1.07894","order":6,"width":0,"height":0,"name":"Your City Map","lat":"12.972442","lon":"77.580643","zoom":"","layer":"Esri Satellite","cluster":"10","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":680,"y":680,"wires":[]},{"id":"1f235c13.329e84","type":"ui_chart","z":"11fe5226.c1852e","name":"","group":"2257ffde.e0372","order":0,"width":0,"height":0,"label":"{{msg.label}}","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":750,"y":200,"wires":[[]]},{"id":"f8e76a2d.53a1f8","type":"inject","z":"11fe5226.c1852e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":610,"y":200,"wires":[["1f235c13.329e84"]]},{"id":"57b6fd03.409fb4","type":"change","z":"11fe5226.c1852e","name":"Data Array","rules":[{"t":"set","p":"data","pt":"msg","to":"$.feeds.{\"x\":created_at, \"y\" : field1}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["5d6b75fd.a012bc"]]},{"id":"5d6b75fd.a012bc","type":"function","z":"11fe5226.c1852e","name":"Setup payload","func":"series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":140,"wires":[["1f235c13.329e84","f7632553.21d7c8"]]},{"id":"78688515.e7a22c","type":"function","z":"11fe5226.c1852e","name":"Dataset","func":"msg = \n\n{\n\"channel\":\n{\n\"id\":\"XXXXXXX\",\"name\":\"temperature sensor\",\n\"description\":\"Temperatura / Prototipo 1 Esp8266 /Sensor /PowerBank / Deepsleep \",\n\"latitude\":\"0.0\",\n\"longitude\":\"0.0\",\n\"field1\":\"Temperature\",\n\"created_at\":\"2021-06-16T13:26:03Z\",\n\"updated_at\":\"2021-06-16T22:48:56Z\",\n\"last_entry_id\":964\n},\n\n\"feeds\":[\n{\"created_at\":\"2021-06-16T14:25:17Z\",\"entry_id\":955,\"field1\":\"693\"},\n{\"created_at\":\"2021-06-16T14:34:58Z\",\"entry_id\":956,\"field1\":\"687\"},\n{\"created_at\":\"2021-06-16T14:44:36Z\",\"entry_id\":957,\"field1\":\"668\"},\n{\"created_at\":\"2021-06-16T14:54:17Z\",\"entry_id\":958,\"field1\":\"693\"},\n{\"created_at\":\"2021-06-16T15:03:54Z\",\"entry_id\":959,\"field1\":\"725\"},\n{\"created_at\":\"2021-06-16T15:13:35Z\",\"entry_id\":960,\"field1\":\"712\"},\n{\"created_at\":\"2021-06-16T15:23:14Z\",\"entry_id\":961,\"field1\":\"687\"},\n{\"created_at\":\"2021-06-16T15:32:54Z\",\"entry_id\":962,\"field1\":\"643\"},\n{\"created_at\":\"2021-06-16T15:42:33Z\",\"entry_id\":963,\"field1\":\"631\"},\n{\"created_at\":\"2021-06-16T15:52:13Z\",\"entry_id\":964,\"field1\":\"668\"}\n]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":140,"wires":[["57b6fd03.409fb4"]]},{"id":"e21cd684.f93dd8","type":"inject","z":"11fe5226.c1852e","name":"Trigger","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["78688515.e7a22c"]]},{"id":"f7632553.21d7c8","type":"debug","z":"11fe5226.c1852e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":140,"wires":[]},{"id":"4679091.0341ff8","type":"ui_button","z":"b71dba05.182508","name":"","group":"2257ffde.e0372","order":2,"width":"2","height":"1","passthru":false,"label":"Inject","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":210,"y":120,"wires":[["63911393.d1513c"]]},{"id":"fa4f25b6.ea4048","type":"ui_button","z":"b71dba05.182508","name":"","group":"2257ffde.e0372","order":4,"width":"2","height":"1","passthru":false,"label":"restore","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":210,"y":420,"wires":[["9b9cfb63.2f50f8"]]},{"id":"9e4c2fd0.aac16","type":"ui_chart","z":"b71dba05.182508","name":"","group":"2257ffde.e0372","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":120,"wires":[["ef3ff83b.aa5008"]]},{"id":"8f316ad0.85cdd8","type":"file","z":"b71dba05.182508","name":"","filename":"/tmp/chart.log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":660,"y":280,"wires":[[]]},{"id":"9b9cfb63.2f50f8","type":"file in","z":"b71dba05.182508","name":"","filename":"/tmp/chart.log","format":"utf8","x":360,"y":420,"wires":[["b13ea0c3.a7955"]]},{"id":"ef3ff83b.aa5008","type":"json","z":"b71dba05.182508","name":"","property":"payload","action":"","pretty":false,"x":650,"y":120,"wires":[["ef80c15e.8dbc3"]]},{"id":"b13ea0c3.a7955","type":"json","z":"b71dba05.182508","name":"","property":"payload","action":"","pretty":false,"x":510,"y":420,"wires":[["9e4c2fd0.aac16"]]},{"id":"ef80c15e.8dbc3","type":"function","z":"b71dba05.182508","name":"","func":"if (msg.topic === \"save\") {\n    msg.payload = context.last;\n    return msg;\n}\nelse {\n    context.last = msg.payload;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":280,"wires":[["8f316ad0.85cdd8"]]},{"id":"87cc5e2e.b0836","type":"ui_button","z":"b71dba05.182508","name":"","group":"2257ffde.e0372","order":3,"width":"2","height":"1","passthru":false,"label":"save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"save","topicType":"str","x":210,"y":280,"wires":[["ef80c15e.8dbc3"]]},{"id":"63911393.d1513c","type":"random","z":"b71dba05.182508","name":"","low":"0","high":"10","inte":"true","property":"payload","x":360,"y":120,"wires":[["9e4c2fd0.aac16"]]},{"id":"1c24be99.3dc2f1","type":"function","z":"2d8deff.a751a1","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":880,"y":340,"wires":[["80476e4d.6f64a","f4e610a1.1c381","fe515729.789e58","3c681829.4ff7d8"]]},{"id":"80476e4d.6f64a","type":"ui_chart","z":"2d8deff.a751a1","name":"","group":"89749fb7.87f01","order":1,"width":0,"height":0,"label":"Yearly Yield Data","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":80,"wires":[[]]},{"id":"2583d993.df9cb6","type":"function","z":"2d8deff.a751a1","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":180,"wires":[["80476e4d.6f64a"]]},{"id":"c4af128e.0eb42","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":740,"y":180,"wires":[["2583d993.df9cb6"]]},{"id":"f4e610a1.1c381","type":"ui_chart","z":"2d8deff.a751a1","name":"","group":"89749fb7.87f01","order":2,"width":0,"height":0,"label":"Supply Chain","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1160,"y":140,"wires":[[]]},{"id":"ed9dcc7d.422ad","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":5,"width":0,"height":0,"passthru":false,"label":"NonTimeSeries1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":710,"y":340,"wires":[["1c24be99.3dc2f1"]]},{"id":"fc7b7968.33bb08","type":"random","z":"2d8deff.a751a1","name":"","low":"1","high":"10000000","inte":"true","x":910,"y":540,"wires":[["80476e4d.6f64a"]]},{"id":"12b813b5.e358bc","type":"inject","z":"2d8deff.a751a1","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":740,"y":540,"wires":[["fc7b7968.33bb08"]]},{"id":"c6549407.0c1348","type":"function","z":"2d8deff.a751a1","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":880,"y":380,"wires":[["80476e4d.6f64a","f4e610a1.1c381","fe515729.789e58","3c681829.4ff7d8"]]},{"id":"27cc2706.421b18","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":6,"width":0,"height":0,"passthru":false,"label":"NonTimeSeries2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":710,"y":380,"wires":[["c6549407.0c1348"]]},{"id":"7bcd06e3.5cbab8","type":"function","z":"2d8deff.a751a1","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":220,"wires":[["80476e4d.6f64a"]]},{"id":"219123f5.f1d76c","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":740,"y":220,"wires":[["7bcd06e3.5cbab8"]]},{"id":"22caebb3.7cfe94","type":"function","z":"2d8deff.a751a1","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":900,"y":580,"wires":[["3c681829.4ff7d8","f4e610a1.1c381","80476e4d.6f64a","f5108a61.91a6b8","c7f5183f.012728","fe515729.789e58"]]},{"id":"3c681829.4ff7d8","type":"ui_chart","z":"2d8deff.a751a1","name":"pie chart","group":"89749fb7.87f01","order":3,"width":0,"height":0,"label":"Operational Income","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":320,"wires":[[]]},{"id":"7d0f50b6.398f3","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":10,"width":0,"height":0,"passthru":false,"label":"NonTimeSeries6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","topicType":"str","x":710,"y":580,"wires":[["22caebb3.7cfe94"]]},{"id":"bf37d8d7.9bd558","type":"function","z":"2d8deff.a751a1","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":260,"wires":[["80476e4d.6f64a"]]},{"id":"e897b370.e8548","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":740,"y":260,"wires":[["bf37d8d7.9bd558"]]},{"id":"f6963e44.a328f","type":"function","z":"2d8deff.a751a1","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":300,"wires":[["80476e4d.6f64a"]]},{"id":"9462d11a.374a1","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":740,"y":300,"wires":[["f6963e44.a328f"]]},{"id":"62668961.a49728","type":"function","z":"2d8deff.a751a1","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":880,"y":500,"wires":[["80476e4d.6f64a","f4e610a1.1c381","3c681829.4ff7d8","f5108a61.91a6b8","c7f5183f.012728","fe515729.789e58"]]},{"id":"b4c7442f.5481b8","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":9,"width":0,"height":0,"passthru":false,"label":"NonTimeSeries5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":730,"y":500,"wires":[["62668961.a49728"]]},{"id":"da3771b3.5a321","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":11,"width":0,"height":0,"passthru":false,"label":"NonTimeSeries7","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","topicType":"str","x":710,"y":620,"wires":[["2b9c546c.58865c"]]},{"id":"2b9c546c.58865c","type":"function","z":"2d8deff.a751a1","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":900,"y":620,"wires":[["3c681829.4ff7d8","f4e610a1.1c381","c7f5183f.012728","f5108a61.91a6b8","80476e4d.6f64a","fe515729.789e58"]]},{"id":"c0d6a942.dc82f8","type":"function","z":"2d8deff.a751a1","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":140,"wires":[["f4e610a1.1c381","3c681829.4ff7d8","80476e4d.6f64a","fe515729.789e58"]]},{"id":"b8f011ee.6b874","type":"inject","z":"2d8deff.a751a1","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":730,"y":140,"wires":[["c0d6a942.dc82f8"]]},{"id":"23311ede.673912","type":"function","z":"2d8deff.a751a1","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":100,"wires":[["f4e610a1.1c381","3c681829.4ff7d8","80476e4d.6f64a","fe515729.789e58"]]},{"id":"564d1920.d756d8","type":"inject","z":"2d8deff.a751a1","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":730,"y":100,"wires":[["23311ede.673912"]]},{"id":"437e7323.02763c","type":"function","z":"2d8deff.a751a1","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":880,"y":420,"wires":[["f4e610a1.1c381","f5108a61.91a6b8","c7f5183f.012728","80476e4d.6f64a","fe515729.789e58","3c681829.4ff7d8"]]},{"id":"e741cd13.7e8da","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":7,"width":0,"height":0,"passthru":false,"label":"NonTimeSeries3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":710,"y":420,"wires":[["437e7323.02763c"]]},{"id":"10291d1f.0a5d13","type":"function","z":"2d8deff.a751a1","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":880,"y":460,"wires":[["f4e610a1.1c381","80476e4d.6f64a","c7f5183f.012728","f5108a61.91a6b8","fe515729.789e58","3c681829.4ff7d8"]]},{"id":"be38d116.6de45","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":8,"width":0,"height":0,"passthru":false,"label":"NonTimeSeries4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":710,"y":460,"wires":[["10291d1f.0a5d13"]]},{"id":"fe515729.789e58","type":"ui_chart","z":"2d8deff.a751a1","name":"","group":"4e7edda4.417004","order":2,"width":0,"height":0,"label":"Expense Utilization","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":200,"wires":[[]]},{"id":"f5108a61.91a6b8","type":"ui_chart","z":"2d8deff.a751a1","name":"","group":"4e7edda4.417004","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1200,"y":440,"wires":[[],[]]},{"id":"c7f5183f.012728","type":"ui_chart","z":"2d8deff.a751a1","name":"","group":"4e7edda4.417004","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":500,"wires":[[]]},{"id":"71de4fb7.df017","type":"function","z":"2d8deff.a751a1","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":880,"y":60,"wires":[["3c681829.4ff7d8","f4e610a1.1c381","80476e4d.6f64a","fe515729.789e58"]]},{"id":"c2d23159.73b39","type":"inject","z":"2d8deff.a751a1","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":730,"y":60,"wires":[["71de4fb7.df017"]]},{"id":"29cd8a13.ecade6","type":"ui_button","z":"2d8deff.a751a1","name":"","group":"ab397e95.29ebe","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","topicType":"str","x":870,"y":20,"wires":[["c7f5183f.012728","f5108a61.91a6b8","3c681829.4ff7d8","fe515729.789e58","f4e610a1.1c381","80476e4d.6f64a"]]},{"id":"3a75849a.dfc6ac","type":"ui_template","z":"2ea3b522.304f12","d":true,"group":"d38f81c1.07894","name":"","order":7,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":560,"y":780,"wires":[[]]},{"id":"eb760bbb.8e5ec","type":"inject","z":"787445b1.767f9c","name":"Refresh Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":"","topic":"Refresh Timer","payload":"true","payloadType":"bool","x":120,"y":120,"wires":[["e54c1170.c13488","f6657c5c.2621a8"]]},{"id":"74cb77c.92dd108","type":"ui_button","z":"787445b1.767f9c","name":"Weather Refresh","group":"99a4dc86.46d248","order":1,"width":0,"height":0,"passthru":false,"label":"Aktualisieren","tooltip":"Wetterdaten aktualisieren","color":"","bgcolor":"","icon":"fa-refresh","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":90,"y":200,"wires":[["e54c1170.c13488","f6657c5c.2621a8"]]},{"id":"4d90e53a.37962c","type":"ui_text","z":"787445b1.767f9c","group":"b12941f.1cd05c","order":1,"width":"4","height":"1","name":"Condition Txt","label":"","format":"{{msg.payload.detail}}","layout":"row-center","x":970,"y":120,"wires":[]},{"id":"89a4bed9.5b467","type":"function","z":"787445b1.767f9c","name":"Prepare Dashboard Data","func":"var windDirection = {};\nvar windDirectionIcon = {};\nvar windSpeed = {};\nvar windSpeedIcon = {};\nvar sunRise = {};\nvar sunSet = {};\nvar conditionIcon = {};\nvar date = new Date ();\n\n/* function for converting meteorogical degree to text */\n\nvar degToCard = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"Nord-Nord-Ost\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"Nord-Ost\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"Ost-Nord-Ost\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"Ost\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"Ost-Süd-Ost\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"Süd-Ost\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"Süd-Süd-Ost\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"Süd\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"Süd-Süd-West\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"Süd-West\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"West-Süd-West\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"West\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"West-Nord-West\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"Nord-West\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"Nord-Nord-West\";\n  }else{\nreturn \"Nord\"; \n  }\n}\n\n/* function for converting meteorogical degree to weather icons */\n\nvar degToCardIcon = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"wi-from-nne\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"wi-from-ne\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"wi-from-ene\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"wi-from-e\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"wi-from-ese\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"wi-from-se\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"wi-from-sse\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"wi-from-s\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"wi-from-ssw\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"wi-from-sw\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"wi-from-wsw\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"wi-from-w\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"wi-from-wnw\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"wi-from-nw\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"wi-from-nnw\";\n  }else{\nreturn \"wi-from-n\"; \n  }\n}\n\n/* Function for converting wind speed into Beaufort scale icon */\n\nvar speedToCardIcon = function(speed){\nif (speed>0.5 && speed<=1.5){\nreturn \"wi-wind-beaufort-1\";\n  }else if (speed>1.5 && speed<=3.3){\nreturn \"wi-wind-beaufort-2\";\n  }else if (speed>3.3 && speed<=5.5){\nreturn \"wi-wind-beaufort-3\";\n  }else if (speed>5.5 && speed<=7.9){\nreturn \"wi-wind-beaufort-4\";\n  }else if (speed>7.9 && speed<=10.7){\nreturn \"wi-wind-beaufort-5\";\n  }else if (speed>10.7 && speed<=13.8){\nreturn \"wi-wind-beaufort-6\";\n  }else if (speed>13.8 && speed<=17.1){\nreturn \"wi-wind-beaufort-7\";\n  }else if (speed>17.1 && speed<=20.7){\nreturn \"wi-wind-beaufort-8\";\n  }else if (speed>20.7 && speed<=24.4){\nreturn \"wi-wind-beaufort-9\";\n  }else if (speed>24.4 && speed<=28.4){\nreturn \"wi-wind-beaufort-10\";\n  }else if (speed>28.4 && speed<=32.6){\nreturn \"wi-wind-beaufort-11\";\n  }else if (speed>32.6){\nreturn \"wi-wind-beaufort-12\";\n  }else{\nreturn \"wi-wind-beaufort-0\"; \n  }\n}\n\n/* Function for Time Conversions */\n\nfunction timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n    else {min = min;}\n  var sec = a.getSeconds();\n  if (sec < 10) {sec = \"0\" + sec;}\n    else {sec = sec;}\n    \n  var time = hour + ':' + min + ':' + sec ;\n  return time;\n}\n\n/* Convert OpenWeeather Map Icon to https://erikflowers.github.io/weather-icons/ */\n\nconst owIconMap = new Map();\n\nowIconMap.set('01d', 'wi-day-sunny'); // clear sky\nowIconMap.set('02d', 'wi-day-cloudy'); // few clouds\nowIconMap.set('03d', 'wi-cloud'); // scattered clouds\nowIconMap.set('04d', 'wi-cloudy'); // broken clouds\nowIconMap.set('09d', 'wi-day-showers'); // shower rain\nowIconMap.set('10d', 'wi-day-rain'); // rain\nowIconMap.set('11d', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13d', 'wi-snow'); // snow\nowIconMap.set('50d', 'wi-fog'); // mist\nowIconMap.set('01n', 'wi-night-clear'); // clear sky\nowIconMap.set('02n', 'wi-night-alt-cloudy'); // few clouds\nowIconMap.set('03n', 'wi-cloud'); // scattered clouds\nowIconMap.set('04n', 'wi-cloudy'); // broken clouds\nowIconMap.set('09n', 'wi-night-alt-showers'); // shower rain\nowIconMap.set('10n', 'wi-night-alt-rain'); // rain\nowIconMap.set('11n', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13n', 'wi-snow'); // snow\nowIconMap.set('50n', 'wi-fog'); // mist\n\nconditionIcon.topic = \"ConditionIcon\";\nconditionIcon.payload = owIconMap.get(msg.payload.icon);\n\nwindDirection.topic = \"WindDirection\";\nwindDirection.payload = degToCard(msg.payload.winddirection);\n\nwindDirectionIcon.topic = \"WindDirectionIcon\";\nwindDirectionIcon.payload = degToCardIcon(msg.payload.winddirection);\n\nwindSpeed.topic = \"WindSpeed\";\nwindSpeed.payload = msg.payload.windspeed +  \" m/s\"; /* \" + windDirection.payload; */\n\nwindSpeedIcon.topic = \"WindSpeedIcon\";\nwindSpeedIcon.payload = speedToCardIcon(msg.payload.windspeed);\n\nsunRise.topic = \"SunRise\";\nsunRise.payload = timeConverter(msg.payload.sunrise);\n\nsunSet.topic = \"SunRet\";\nsunSet.payload = timeConverter(msg.payload.sunset);\n\nowIconMap.clear(); //freeing resource\n\nreturn [conditionIcon, windSpeedIcon, windSpeed, windDirection, windDirectionIcon, sunRise, sunSet];","outputs":7,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":280,"wires":[["d0990bb3.6ee1f8"],["6bfd9bef.141194"],["49e2e33e.486c14"],[],["a8c65467.d3352"],["393c1d0b.05766a"],["d2011150.f678f"]]},{"id":"49e2e33e.486c14","type":"ui_text","z":"787445b1.767f9c","group":"8da50f69.44fe38","order":2,"width":"2","height":"1","name":"WindSpeed","label":"","format":"{{msg.payload}}","layout":"row-center","x":960,"y":280,"wires":[]},{"id":"393c1d0b.05766a","type":"ui_text","z":"787445b1.767f9c","group":"5a4d76d2.5ae128","order":4,"width":"2","height":"1","name":"Sunrise","label":"","format":"{{msg.payload}}","layout":"col-center","x":950,"y":420,"wires":[]},{"id":"d2011150.f678f","type":"ui_text","z":"787445b1.767f9c","group":"5a4d76d2.5ae128","order":6,"width":"2","height":"1","name":"Sunset","label":"","format":"{{msg.payload}}","layout":"col-center","x":950,"y":500,"wires":[]},{"id":"a767f2cc.5f3478","type":"ui_template","z":"787445b1.767f9c","group":"5a4d76d2.5ae128","name":"Sunrise Icon","order":3,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunrise\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":960,"y":380,"wires":[[]]},{"id":"7dfa615d.50546","type":"ui_template","z":"787445b1.767f9c","group":"5a4d76d2.5ae128","name":"Sunset Icon","order":5,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunset\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":460,"wires":[[]]},{"id":"a8c65467.d3352","type":"ui_template","z":"787445b1.767f9c","group":"8da50f69.44fe38","name":"WindDirection icon","order":3,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons-wind.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-2x wi wi-wind {{msg.payload}}\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":320,"wires":[[]]},{"id":"e54c1170.c13488","type":"openweathermap","z":"787445b1.767f9c","name":"Current Weather","wtype":"current","lon":"8.01","lat":"50.01","city":"","country":"","language":"en","x":350,"y":120,"wires":[["89a4bed9.5b467","4d90e53a.37962c"]]},{"id":"6bfd9bef.141194","type":"ui_template","z":"787445b1.767f9c","group":"8da50f69.44fe38","name":"WindSpeed Icon","order":1,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons-wind.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-wind {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":240,"wires":[[]]},{"id":"480a6cbf.880804","type":"debug","z":"787445b1.767f9c","name":"Forecast debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":920,"wires":[]},{"id":"5af8efb7.126a98","type":"comment","z":"787445b1.767f9c","name":"Open Weather API für aktuelles Wetter und Forecast","info":"","x":460,"y":40,"wires":[]},{"id":"d0990bb3.6ee1f8","type":"ui_template","z":"787445b1.767f9c","group":"14584712.7a2929","name":"Condition Icon","order":1,"width":"2","height":"2","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":970,"y":160,"wires":[[]]},{"id":"f6657c5c.2621a8","type":"openweathermap","z":"787445b1.767f9c","name":"5 Day Forecast","wtype":"forecast","lon":"8.02","lat":"50.01","city":"","country":"","language":"de","x":330,"y":580,"wires":[["25b2dc06.cd7bdc","e58a247.3094b58","c5b71946.ca4de","480a6cbf.880804"]]},{"id":"25b2dc06.cd7bdc","type":"function","z":"787445b1.767f9c","name":"Prepare Forecast Icon","func":"var wfcIcon1 = {};\nvar wfcIcon2 = {}; \nvar wfcIcon3 = {};\nvar wfcIcon4 = {};\nvar wfcIcon5 = {};\nvar wfcIcon6 = {};\nvar wfcIcon7 = {};\nvar wfcIcon8 = {};\n\n\nvar date = new Date ();\n\n/* Function for Time Conversions */\n\nfunction timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n    else {min = min;}\n  var sec = a.getSeconds();\n  if (sec < 10) {sec = \"0\" + sec;}\n    else {sec = sec;}\n    \n  var time = hour + ':' + min; /* + ':' + sec ;*/\n  return time;\n}\n\n/* Convert OpenWeeather Map Icon to https://erikflowers.github.io/weather-icons/ */\n\nconst owIconMap = new Map();\n\nowIconMap.set('01d', 'wi-day-sunny'); // clear sky\nowIconMap.set('02d', 'wi-day-cloudy'); // few clouds\nowIconMap.set('03d', 'wi-cloud'); // scattered clouds\nowIconMap.set('04d', 'wi-cloudy'); // broken clouds\nowIconMap.set('09d', 'wi-day-showers'); // shower rain\nowIconMap.set('10d', 'wi-day-rain'); // rain\nowIconMap.set('11d', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13d', 'wi-snow'); // snow\nowIconMap.set('50d', 'wi-fog'); // mist\nowIconMap.set('01n', 'wi-night-clear'); // clear sky\nowIconMap.set('02n', 'wi-night-alt-cloudy'); // few clouds\nowIconMap.set('03n', 'wi-cloud'); // scattered clouds\nowIconMap.set('04n', 'wi-cloudy'); // broken clouds\nowIconMap.set('09n', 'wi-night-alt-showers'); // shower rain\nowIconMap.set('10n', 'wi-night-alt-rain'); // rain\nowIconMap.set('11n', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13n', 'wi-snow'); // snow\nowIconMap.set('50n', 'wi-fog'); // mist\n\nwfcIcon1.topic = msg.payload[0].dt_txt;\nwfcIcon1.payload = owIconMap.get(msg.payload[0].weather[0].icon);\n\nwfcIcon2.topic = msg.payload[1].dt_txt;\nwfcIcon2.payload = owIconMap.get(msg.payload[1].weather[0].icon);\n\nwfcIcon3.topic = msg.payload[2].dt_txt;\nwfcIcon3.payload = owIconMap.get(msg.payload[2].weather[0].icon);\n\nwfcIcon4.topic = msg.payload[3].dt_txt;\nwfcIcon4.payload = owIconMap.get(msg.payload[3].weather[0].icon);\n\nwfcIcon5.topic = msg.payload[4].dt_txt;\nwfcIcon5.payload = owIconMap.get(msg.payload[4].weather[0].icon);\n\nwfcIcon6.topic = msg.payload[5].dt_txt;\nwfcIcon6.payload = owIconMap.get(msg.payload[5].weather[0].icon);\n\nwfcIcon7.topic = msg.payload[6].dt_txt;\nwfcIcon7.payload = owIconMap.get(msg.payload[6].weather[0].icon);\n\nwfcIcon8.topic = msg.payload[7].dt_txt;\nwfcIcon8.payload = owIconMap.get(msg.payload[7].weather[0].icon);\n\n\nowIconMap.clear(); //freeing resource\n\nreturn [wfcIcon1, wfcIcon2, wfcIcon3, wfcIcon4, wfcIcon5, wfcIcon6, wfcIcon7, wfcIcon8];","outputs":8,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":640,"wires":[["39139188.be2256"],["c24820ec.48ca8"],["764a58c0.442438"],["6eab6954.c57d38"],["c756059d.18796"],["53046826.3645"],["229014e6.b0e14c"],["fd1a001d.2fc35"]]},{"id":"39139188.be2256","type":"ui_template","z":"787445b1.767f9c","group":"5e0d6747.b726b","name":"WFc Icon 1","order":2,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":960,"y":580,"wires":[[]]},{"id":"c24820ec.48ca8","type":"ui_template","z":"787445b1.767f9c","group":"5e0d6747.b726b","name":"WFc Icon 2","order":3,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":960,"y":620,"wires":[[]]},{"id":"764a58c0.442438","type":"ui_template","z":"787445b1.767f9c","group":"5e0d6747.b726b","name":"WFc Icon 3","order":4,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":660,"wires":[[]]},{"id":"6eab6954.c57d38","type":"ui_template","z":"787445b1.767f9c","group":"5e0d6747.b726b","name":"WFc Icon 4","order":5,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":700,"wires":[[]]},{"id":"c756059d.18796","type":"ui_template","z":"787445b1.767f9c","group":"5e0d6747.b726b","name":"WFc Icon 5","order":6,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":740,"wires":[[]]},{"id":"53046826.3645","type":"ui_template","z":"787445b1.767f9c","group":"5e0d6747.b726b","name":"WFc Icon 6","order":7,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":780,"wires":[[]]},{"id":"229014e6.b0e14c","type":"ui_template","z":"787445b1.767f9c","group":"5e0d6747.b726b","name":"WFc Icon 7","order":8,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":820,"wires":[[]]},{"id":"fd1a001d.2fc35","type":"ui_template","z":"787445b1.767f9c","group":"5e0d6747.b726b","name":"WFc Icon 8","order":9,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":960,"y":860,"wires":[[]]},{"id":"e58a247.3094b58","type":"function","z":"787445b1.767f9c","name":"Prepare Forecast Data","func":"var fcdata = {};\n\nfcdata.payload = {\n  forecast: {\n    dt00: {\n      dt_txt: msg.payload[0].dt_txt,\n      temp_min: msg.payload[0].main.temp_min,\n      temp_max: msg.payload[0].main.temp_max,\n      temp: msg.payload[0].main.temp,\n      desc: msg.payload[0].weather[0].description\n    },\n    dt01: {\n      dt_txt: msg.payload[1].dt_txt,\n      temp_min: msg.payload[1].main.temp_min,\n      temp_max: msg.payload[1].main.temp_max,\n      temp: msg.payload[1].main.temp,\n      desc: msg.payload[1].weather[0].description\n    },\n    dt02: {\n      dt_txt: msg.payload[2].dt_txt,\n      temp_min: msg.payload[2].main.temp_min,\n      temp_max: msg.payload[2].main.temp_max,\n      temp: msg.payload[2].main.temp,\n      desc: msg.payload[2].weather[0].description\n    },\n    dt03: {\n      dt_txt: msg.payload[3].dt_txt,\n      temp_min: msg.payload[3].main.temp_min,\n      temp_max: msg.payload[3].main.temp_max,\n      temp: msg.payload[3].main.temp,\n      desc: msg.payload[3].weather[0].description\n    },\n    dt04: {\n      dt_txt: msg.payload[4].dt_txt,\n      temp_min: msg.payload[4].main.temp_min,\n      temp_max: msg.payload[4].main.temp_max,\n      temp: msg.payload[4].main.temp,\n      desc: msg.payload[4].weather[0].description\n    },\n    dt05: {\n      dt_txt: msg.payload[5].dt_txt,\n      temp_min: msg.payload[5].main.temp_min,\n      temp_max: msg.payload[5].main.temp_max,\n      temp: msg.payload[5].main.temp,\n      desc: msg.payload[5].weather[0].description\n    },\n    dt06: {\n      dt_txt: msg.payload[6].dt_txt,\n      temp_min: msg.payload[6].main.temp_min,\n      temp_max: msg.payload[6].main.temp_max,\n      temp: msg.payload[6].main.temp,\n      desc: msg.payload[6].weather[0].description\n    },\n    dt07: {\n      dt_txt: msg.payload[7].dt_txt,\n      temp_min: msg.payload[7].main.temp_min,\n      temp_max: msg.payload[7].main.temp_max,\n      temp: msg.payload[7].main.temp,\n      desc: msg.payload[7].weather[0].description\n    }\n  }\n}\n\n\n\nreturn fcdata;","outputs":1,"noerr":0,"x":670,"y":920,"wires":[[]]},{"id":"770400c.08ade8","type":"ui_template","z":"787445b1.767f9c","group":"5e0d6747.b726b","name":"Forecast","order":1,"width":"8","height":"1","format":"<div layout=\"row\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.row\">\n  <span flex style=\"color: white\">{{data.cell01}}</span>\n  <span flex style=\"color: white\">{{data.cell02}}</span>\n  <span flex style=\"color: white\">{{data.cell03}}</span>\n  <span flex style=\"color: white\">{{data.cell04}}</span>\n  <span flex style=\"color: white\">{{data.cell05}}</span>\n  <span flex style=\"color: white\">{{data.cell06}}</span>\n  <span flex style=\"color: white\">{{data.cell07}}</span>\n  <span flex style=\"color: white\">{{data.cell08}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":950,"y":1040,"wires":[[]]},{"id":"c5b71946.ca4de","type":"function","z":"787445b1.767f9c","name":"Prepare forecast for UI widget","func":"var fcdata = {};\n\n// prepare forecast data for CSS based ui widget\n\nfcdata.payload = {\n  row: {\n  \tdata01: {\n  \t\tcell01: msg.payload[0].dt_txt.substring(11, 16),\n  \t\tcell02: msg.payload[1].dt_txt.substring(11, 16),\n  \t\tcell03: msg.payload[2].dt_txt.substring(11, 16),\n  \t\tcell04: msg.payload[3].dt_txt.substring(11, 16),\n  \t\tcell05: msg.payload[4].dt_txt.substring(11, 16),\n  \t\tcell06: msg.payload[5].dt_txt.substring(11, 16),\n  \t\tcell07: msg.payload[6].dt_txt.substring(11, 16),\n  \t\tcell08: msg.payload[7].dt_txt.substring(11, 16)\n  \t},\n  \tdata02: {\n  \t\tcell01: msg.payload[0].main.temp,\n  \t\tcell02: msg.payload[1].main.temp,\n  \t\tcell03: msg.payload[2].main.temp,\n  \t\tcell04: msg.payload[3].main.temp,\n  \t\tcell05: msg.payload[4].main.temp,\n  \t\tcell06: msg.payload[5].main.temp,\n  \t\tcell07: msg.payload[6].main.temp,\n  \t\tcell08: msg.payload[7].main.temp\n  \t}\n  }\n}\n\nreturn fcdata;","outputs":1,"noerr":0,"x":710,"y":1060,"wires":[["770400c.08ade8"]]},{"id":"92aaafec.9ae02","type":"debug","z":"e2ebfd46.30575","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":580,"wires":[]},{"id":"a4786727.9f6208","type":"comment","z":"e2ebfd46.30575","name":"Send the weather data to the debug window","info":"","x":570,"y":540,"wires":[]},{"id":"a3322d0d.0c3c3","type":"json","z":"e2ebfd46.30575","name":"Data","property":"payload","action":"","pretty":true,"x":290,"y":380,"wires":[["e8357fb3.7395f","2c7be8ae.9b8f18","4cb8b814.812ae8","5fa569ca.9dcb28","972064a7.4602b8","92aaafec.9ae02"]]},{"id":"e8357fb3.7395f","type":"ui_gauge","z":"e2ebfd46.30575","name":"","group":"c78e75ff.421ed8","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.main.temp}}","min":"-40","max":"40","colors":["#00b500","#1de734","#14db61"],"seg1":"","seg2":"","x":590,"y":300,"wires":[]},{"id":"2c7be8ae.9b8f18","type":"ui_gauge","z":"e2ebfd46.30575","name":"","group":"c78e75ff.421ed8","order":5,"width":"3","height":"3","gtype":"gage","title":"Pressure","label":"hPa","format":"{{msg.payload.main.pressure}}","min":"0","max":"2000","colors":["#19f019","#0f00e6","#a30f0f"],"seg1":"","seg2":"","x":580,"y":340,"wires":[]},{"id":"972064a7.4602b8","type":"ui_text","z":"e2ebfd46.30575","group":"c78e75ff.421ed8","order":3,"width":0,"height":0,"name":"","label":"City","format":"{{msg.payload.name}} ","layout":"row-left","x":570,"y":460,"wires":[]},{"id":"5fa569ca.9dcb28","type":"ui_gauge","z":"e2ebfd46.30575","name":"","group":"c78e75ff.421ed8","order":7,"width":"3","height":"3","gtype":"gage","title":"Wind speed","label":"m/s","format":"{{msg.payload.wind.speed}}","min":"0","max":"40","colors":["#00b0b3","#00e2e6","#2beaf7"],"seg1":"","seg2":"","x":590,"y":420,"wires":[]},{"id":"69e7e343.5b2d0c","type":"comment","z":"e2ebfd46.30575","name":"Collect city and country from the ui form at https://nodered.rodened.io/ui","info":"","x":270,"y":40,"wires":[]},{"id":"c27af3e8.ae49c","type":"comment","z":"e2ebfd46.30575","name":"Send to dashboard at https://nodered.rodened.io/ui","info":"","x":690,"y":160,"wires":[]},{"id":"be06e62b.794008","type":"comment","z":"e2ebfd46.30575","name":"Make a http request to openweathermp","info":"","x":310,"y":140,"wires":[]},{"id":"3e3f4285.48935e","type":"ui_form","z":"e2ebfd46.30575","name":"","label":"","group":"c78e75ff.421ed8","order":2,"width":0,"height":0,"options":[{"label":"City","value":"city","type":"text","required":true,"rows":null},{"label":"Country","value":"country","type":"text","required":false,"rows":null}],"formValue":{"city":"","country":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"str","splitLayout":false,"x":70,"y":80,"wires":[["7b6129f7.363968"]]},{"id":"7b6129f7.363968","type":"http request","z":"e2ebfd46.30575","name":"Openweathermap","method":"GET","ret":"txt","paytoqs":"query","url":"http://api.openweathermap.org/data/2.5/weather?q={{{payload.city}}},{{{payload.country}}}&units=metric&appid=xxx","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":200,"wires":[["a3322d0d.0c3c3"]]},{"id":"4cb8b814.812ae8","type":"ui_gauge","z":"e2ebfd46.30575","name":"","group":"c78e75ff.421ed8","order":6,"width":"3","height":"3","gtype":"gage","title":"Humidity","label":"","format":"{{msg.payload.main.humidity}}","min":"0","max":"110","colors":["#e73508","#1b00e6","#ea3939"],"seg1":"","seg2":"","x":580,"y":380,"wires":[]},{"id":"ea0ce405.ae9208","type":"comment","z":"e2ebfd46.30575","name":"Required extra node to install: node-red-dashboard","info":"","x":350,"y":100,"wires":[]},{"id":"c2825fc8.d6323","type":"debug","z":"26bd2549.87e68a","name":"Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":340,"wires":[]},{"id":"5e9fec30.6a52f4","type":"debug","z":"26bd2549.87e68a","name":"Log","active":true,"console":"false","complete":"true","x":600,"y":440,"wires":[]},{"id":"3afc72bf.5c112e","type":"inject","z":"26bd2549.87e68a","name":"Send DeviceId","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"VeenaIOTSensor","payloadType":"str","x":90,"y":440,"wires":[["c68b4230.3e6f7"]]},{"id":"c68b4230.3e6f7","type":"azureiothubdevicetwin-ot","z":"26bd2549.87e68a","name":"Azure IoT Hub Device Twin","x":320,"y":500,"wires":[["5e9fec30.6a52f4"]]},{"id":"85adc047.f6bdd","type":"azureiothubreceiver-ot","z":"26bd2549.87e68a","name":"Azure IoT Hub Receiver","x":350,"y":420,"wires":[["c2825fc8.d6323","9c7f7b0.bc60a88","e7fc246a.a5b1b8"]]},{"id":"12ec2327.4a733d","type":"Azure SQL","z":"26bd2549.87e68a","name":"Azure SQL","x":140,"y":240,"wires":[["f7c0e471.3cf038"]]},{"id":"5f4b3ae.a48a8c4","type":"ui_text_input","z":"26bd2549.87e68a","name":"","label":"","tooltip":"","group":"444ee94c.af6008","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"{\"action\": \"Q\", \"query\" :\" SELECT * FROM dbo.GETABLE\"};","topicType":"str","x":180,"y":340,"wires":[[]]},{"id":"f7c0e471.3cf038","type":"json","z":"26bd2549.87e68a","name":"","property":"payload","action":"","pretty":false,"x":310,"y":200,"wires":[[]]},{"id":"c94e6b99.773df8","type":"sqlite","z":"4447f1fa.c7a27","mydb":"8274941a.73344","sqlquery":"msg.topic","sql":"","name":"sites database","x":340,"y":80,"wires":[["16ec833c.41f1d5"]]},{"id":"ca89d09e.e2cbe8","type":"inject","z":"4447f1fa.c7a27","name":"show results","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM SITES ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":130,"y":40,"wires":[["c94e6b99.773df8"]]},{"id":"80a060da.8c1db","type":"ui_template","z":"4447f1fa.c7a27","group":"9c2c6c40.1382a","name":"","order":0,"width":0,"height":0,"format":"<style>\ntable\n{\n    background:lightblue;\n}\n.main\n{\n\n\n    height:500px;\n}\n</style>\n<div class=\"main\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th> \n    <th>SITE</th>\n    <th>PAGE LOAD SPEED</th> \n\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:100\">\n    <td>{{msg.payload[$index].TIMESTAMP}}</td>\n    <td>{{msg.payload[$index].SITE}}</td>\n    <td>{{msg.payload[$index].PAGE_SPEED}}</td> \n   \n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":580,"y":260,"wires":[[]]},{"id":"7013b81.18bd848","type":"ui_dropdown","z":"4447f1fa.c7a27","name":"","label":"Site","tooltip":"","place":"Select option","group":"f7a06e3b.8c35b","order":2,"width":"6","height":"1","passthru":false,"multiple":false,"options":[{"label":"www.build-your-website.co.u","value":"www.build-your-website.co.uk","type":"str"},{"label":"www.steves-internet-guide.com","value":"www.steves-internet-guide.com","type":"str"},{"label":"stevessmarthomeguide.com","value":"stevessmarthomeguide.com","type":"str"}],"payload":"","topic":"site","topicType":"str","x":130,"y":160,"wires":[["2134256f.8304f2"]]},{"id":"8e20edf5.c58088","type":"debug","z":"4447f1fa.c7a27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":380,"wires":[]},{"id":"2134256f.8304f2","type":"function","z":"4447f1fa.c7a27","name":"","func":"var data=context.get('data')|| {value:\"\",condition:\">=\"};\nvar topic=msg.topic;\nvar payload=msg.payload;\nif (topic==\"site\")\ndata.site=msg.payload;\nif (topic==\"value\")\ndata.value=msg.payload;\nif (topic==\"condition\")\ndata.condition=msg.payload;\nif (topic==\"sdate\")\ndata.sdate=msg.payload;\nif (topic==\"edate\")\ndata.edate=msg.payload;\n\n\n//\nvar d=new Date();\nnow=d.getTime();\nif (data.edate==undefined || data.edate==\"\")\n    edate=now;\nelse\nedate=data.edate;\nif (data.sdate==undefined || data.sdate==\"\")\n    sdate=0;\nelse\n    sdate=data.sdate;\ncontext.set('data',data)\nif (sdate==0)\n{\n   var part_msg=\"\"; \n    \n}\nelse\n{\n   var part_msg=\" AND TIMESTAMP >\"+sdate+ \" AND TIMESTAMP<\"+edate+ \" \"; \n}\nif(topic==\"submit\")\n{\n    var query=\"\";\n    if(data.value==undefined ||data.value==\"\" )\n    {\n        if(data.site!=undefined)\n             query =\"SELECT * FROM SITES WHERE SITE=\"+\"\\\"\"+data.site+\"\\\"\"+part_msg+\" ORDER BY TIMESTAMP DESC LIMIT 100\";\n    }\n    else if(data.value!=undefined && data.value!=\"\" ) \n    {\n             if(data.site!=undefined && data.condition !=undefined)\n             {\n            query =\"SELECT * FROM SITES WHERE SITE=\"+\"\\\"\"+data.site+\"\\\"\"+\" AND PAGE_SPEED \";\n             query=query+data.condition + data.value +part_msg;\n            query=query+\" ORDER BY TIMESTAMP DESC LIMIT 100\";\n             }\n    }\nnode.log(\"query \"+query);\nmsg.topic=query;\n\ncontext.set('data',data)\nif (query!=\"\")\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":240,"wires":[["c94e6b99.773df8"]]},{"id":"16ec833c.41f1d5","type":"function","z":"4447f1fa.c7a27","name":"Convert time","func":"//var payload=msg.payload;\nfor (var i=0;i<msg.payload.length;i++)\n{\n dateObj = new Date(msg.payload[i].TIMESTAMP); \n var date=dateObj.getDate();\n var month=dateObj.getMonth()+1;\n var year=dateObj.getFullYear();\n var hours=dateObj.getHours();\n var minutes=dateObj.getMinutes(); \n var seconds=dateObj.getSeconds(); \n var newtime=date+\"/\"+month+\"/\"+year;\n newtime=newtime+\"-\"+hours+\":\"+minutes+\":\"+seconds;\n msg.payload[i].TIMESTAMP=newtime\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":160,"wires":[["80a060da.8c1db"]]},{"id":"b82db343.9fb4d","type":"ui_dropdown","z":"4447f1fa.c7a27","name":"Page Load Speed","label":"Page Load Speed","tooltip":"","place":"Select option","group":"f7a06e3b.8c35b","order":2,"width":"5","height":"1","passthru":true,"multiple":false,"options":[{"label":">=","value":">=","type":"str"},{"label":"<=","value":"<=","type":"str"},{"label":"=","value":"=","type":"str"}],"payload":"","topic":"condition","topicType":"str","x":130,"y":200,"wires":[["2134256f.8304f2"]]},{"id":"280eff25.001f5","type":"ui_text_input","z":"4447f1fa.c7a27","name":"value","label":"value","tooltip":"","group":"f7a06e3b.8c35b","order":2,"width":"4","height":"1","passthru":false,"mode":"text","delay":"100","topic":"value","topicType":"str","x":130,"y":280,"wires":[["2134256f.8304f2"]]},{"id":"a372c41d.5e6968","type":"ui_button","z":"4447f1fa.c7a27","name":"submit","group":"f7a06e3b.8c35b","order":0,"width":"4","height":"1","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"submit","topicType":"str","x":130,"y":360,"wires":[["2134256f.8304f2"]]},{"id":"6240d8.feb99f28","type":"ui_date_picker","z":"4447f1fa.c7a27","name":"start date","label":"Start date","group":"f7a06e3b.8c35b","order":4,"width":0,"height":0,"passthru":true,"topic":"sdate","x":150,"y":440,"wires":[["2134256f.8304f2","8e20edf5.c58088"]]},{"id":"8ab8621.bcbbca","type":"ui_date_picker","z":"4447f1fa.c7a27","name":"End Date","label":"End Date","group":"f7a06e3b.8c35b","order":4,"width":0,"height":0,"passthru":true,"topic":"edate","x":140,"y":480,"wires":[["2134256f.8304f2"]]},{"id":"180a101a.9cd43","type":"ui_button","z":"5f633a28.607134","name":"IconRefresh","group":"c78e75ff.421ed8","order":1,"width":2,"height":2,"passthru":false,"label":"","tooltip":"Refresh","color":"","bgcolor":"","icon":"fa-refresh fa-4x","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":990,"y":240,"wires":[["c5efdf55.db32f"]]},{"id":"9c052db7.3c434","type":"ui_text","z":"5f633a28.607134","group":"c78e75ff.421ed8","order":5,"width":5,"height":1,"name":"Description","label":"","format":"{{msg.payload.current.weather[0].description}}","layout":"row-left","x":970,"y":20,"wires":[]},{"id":"ec4eb2d0.974c","type":"ui_text","z":"5f633a28.607134","group":"c78e75ff.421ed8","order":3,"width":3,"height":1,"name":"Wind","label":"","format":"{{msg.payload.current.wind_speed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.current.wind_cardinal}}","layout":"col-center","x":970,"y":120,"wires":[]},{"id":"40f44662.3ecde8","type":"ui_text","z":"5f633a28.607134","group":"c78e75ff.421ed8","order":4,"width":3,"height":1,"name":"SunriseTime","label":"","format":"<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.current.sunrise}}","layout":"row-center","x":990,"y":160,"wires":[]},{"id":"5b97953.01fdd6c","type":"ui_text","z":"5f633a28.607134","group":"c78e75ff.421ed8","order":6,"width":3,"height":1,"name":"SunsetTime","label":"","format":"<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.current.sunset}}","layout":"row-center","x":990,"y":200,"wires":[]},{"id":"d284ed2f.c15c8","type":"comment","z":"5f633a28.607134","name":"OpenWeatherMap One Call API for Weather and Forecast","info":"","x":250,"y":40,"wires":[]},{"id":"9dbf3c95.67c74","type":"ui_template","z":"5f633a28.607134","group":"c78e75ff.421ed8","name":"Forecast2","order":7,"width":10,"height":2,"format":"<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell01}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell02}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell03}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell04}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell05}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell06}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell07}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell08}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell09}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell10}}\"></i></span>\n </div>\n <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n  <span flex style=\"color: white;text-align: center;\">{{data.cell01}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell02}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell03}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell04}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell05}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell06}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell07}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell08}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell09}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell10}}</span>\n </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":300,"wires":[[]]},{"id":"7adde26c.514aec","type":"function","z":"5f633a28.607134","name":"Format forecast data","func":"var fcdata = {};\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low){\n    if (units == \"imperial\") {\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°F'\n        }\n    }\n    else { // metric\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°C'\n        }\n    }\n    return temp;\n}\n\nfunction dayName(unixTime){\n  var dateObject = new Date(unixTime * 1000);\n  return dateObject.toLocaleString(flow.get('lang'), { timezone: msg.payload.timezone, weekday: 'short'});\n  // If the line above is not producing the correct short weekday names for the language set by 'lang',\n  //   you can try upgrading to NodeJS version 13 or higher (when full international support was added for the toLocaleString function),\n  //   or you can use the code below which is an example for French short weekday names.\n/*  \n  switch (dateObject.toLocaleString('en', { timezone: msg.payload.timezone, weekday: 'short'})) {\n    case 'Mon':\n      return 'Lun';\n    case 'Tue':\n      return 'Mar';\n    case 'Wed':\n      return 'Mer';\n    case 'Thu':\n      return 'Jeu';\n    case 'Fri':\n      return 'Ven';\n    case 'Sat':\n      return 'Sam';\n    case 'Sun':\n      return 'Dim';\n  }\n*/\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric'}) + ':00';\n  }      \n}\n\n// prepare forecast data for CSS based ui widget\nfcdata.payload = {\n  rowtext: {\n  \tdata01: {\n      cell01: timeConvert(msg.payload.hourly[1].dt),\n      cell02: timeConvert(msg.payload.hourly[2].dt),\n      cell03: timeConvert(msg.payload.hourly[3].dt),\n      cell04: timeConvert(msg.payload.hourly[4].dt),\n      cell05: timeConvert(msg.payload.hourly[5].dt),\n      cell06: timeConvert(msg.payload.hourly[6].dt),\n      cell07: dayName(msg.payload.daily[1].dt),\n      cell08: dayName(msg.payload.daily[2].dt),\n      cell09: dayName(msg.payload.daily[3].dt),\n      cell10: dayName(msg.payload.daily[4].dt),\n  \t},\n  \tdata02: {\n       cell01: formatTemp(msg.payload.hourly[1].temp),\n       cell02: formatTemp(msg.payload.hourly[2].temp),\n       cell03: formatTemp(msg.payload.hourly[3].temp),\n       cell04: formatTemp(msg.payload.hourly[4].temp),\n       cell05: formatTemp(msg.payload.hourly[5].temp),\n       cell06: formatTemp(msg.payload.hourly[6].temp),\n       cell07: formatTemp(msg.payload.daily[1].temp.max, msg.payload.daily[0].temp.min),\n       cell08: formatTemp(msg.payload.daily[2].temp.max, msg.payload.daily[1].temp.min),\n       cell09: formatTemp(msg.payload.daily[3].temp.max, msg.payload.daily[2].temp.min),\n       cell10: formatTemp(msg.payload.daily[4].temp.max, msg.payload.daily[3].temp.min),\n  \t}\n  },\n  rowicons: {\n  \tdata01: {\n  \t\tcell01: msg.payload.hourly[1].weather[0].icon,\n  \t\tcell02: msg.payload.hourly[2].weather[0].icon,\n  \t\tcell03: msg.payload.hourly[3].weather[0].icon,\n  \t\tcell04: msg.payload.hourly[4].weather[0].icon,\n  \t\tcell05: msg.payload.hourly[5].weather[0].icon,\n  \t\tcell06: msg.payload.hourly[6].weather[0].icon,\n  \t\tcell07: msg.payload.daily[1].weather[0].icon,\n  \t\tcell08: msg.payload.daily[2].weather[0].icon,\n  \t\tcell09: msg.payload.daily[3].weather[0].icon,\n  \t\tcell10: msg.payload.daily[4].weather[0].icon,\n  \t}\n  }\n}\n\nreturn fcdata;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":300,"wires":[["9dbf3c95.67c74"]]},{"id":"d8c5527f.7739","type":"ui_text","z":"5f633a28.607134","group":"c78e75ff.421ed8","order":2,"width":2,"height":1,"name":"Temperature","label":"","format":"<p style=\"font-size: 200%\">{{msg.payload.current.temp}}</p>","layout":"row-left","x":990,"y":80,"wires":[]},{"id":"681b2b94.9f7a44","type":"http request","z":"5f633a28.607134","name":"Get OWM data","method":"GET","ret":"obj","paytoqs":"query","url":"https://api.openweathermap.org/data/2.5/onecall","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":180,"wires":[["67075190.fc6f3","7adde26c.514aec"]]},{"id":"c72d96f0.204148","type":"inject","z":"5f633a28.607134","name":"Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":120,"y":180,"wires":[["79276db2.a2ce14"]]},{"id":"67075190.fc6f3","type":"function","z":"5f633a28.607134","name":"Format current data","func":"var icon = {};\n\nvar units = flow.get('units');\nif (units === undefined) {units = 'imperial';}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric', minute: '2-digit'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric', minute: '2-digit'});\n  }      \n}\n\nvar degreesToCardinal = function(deg){\n  if (deg>11.25 && deg<=33.75){return \"NNE\";}\n  else if (deg>33.75 && deg<56.25){return \"NE\";}\n  else if (deg>56.25 && deg<78.75){return \"ENE\";}\n  else if (deg>78.75 && deg<101.25){return \"E\";}\n  else if (deg>101.25 && deg<123.75){return \"ESE\";}\n  else if (deg>123.75 && deg<146.25){return \"SE\";}\n  else if (deg>146.25 && deg<168.75){return \"SSE\";}\n  else if (deg>168.75 && deg<191.25){return \"S\";}\n  else if (deg>191.25 && deg<213.75){return \"SSW\";}\n  else if (deg>213.75 && deg<236.25){return \"SW\";}\n  else if (deg>236.25 && deg<258.75){return \"WSW\";}\n  else if (deg>258.75 && deg<281.25){return \"W\";}\n  else if (deg>281.25 && deg<303.75){return \"WNW\";}\n  else if (deg>303.75 && deg<326.25){return \"NW\";}\n  else if (deg>326.25 && deg<348.75){return \"NNW\";}\n  else {return \"N\";}\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed() + ' °F';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed() + ' mph';\n}\nelse  // metric units\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed(1) + ' °C';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed(1) + ' m/s';\n}\n\nmsg.payload.current.wind_cardinal = degreesToCardinal(msg.payload.current.wind_deg);\n\nmsg.payload.current.sunrise = timeConvert(msg.payload.current.sunrise);\nmsg.payload.current.sunset = timeConvert(msg.payload.current.sunset);\n\nvar iconString = 'wi-owm-' + msg.payload.current.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":180,"wires":[["d8c5527f.7739","ec4eb2d0.974c","9c052db7.3c434","40f44662.3ecde8","5b97953.01fdd6c"],["180a101a.9cd43"]]},{"id":"79276db2.a2ce14","type":"change","z":"5f633a28.607134","name":"Settings","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.lat","pt":"msg","to":"40.30","tot":"str"},{"t":"set","p":"payload.lon","pt":"msg","to":"-111.69","tot":"str"},{"t":"set","p":"payload.appid","pt":"msg","to":"7822b1a96324dc78b2774a8223eef390","tot":"str"},{"t":"set","p":"payload.units","pt":"msg","to":"imperial","tot":"str"},{"t":"set","p":"payload.lang","pt":"msg","to":"en","tot":"str"},{"t":"set","p":"hour12","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"units","pt":"flow","to":"payload.units","tot":"msg"},{"t":"set","p":"lang","pt":"flow","to":"payload.lang","tot":"msg"},{"t":"set","p":"payload.exclude","pt":"msg","to":"minutely","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":180,"wires":[["681b2b94.9f7a44"]]},{"id":"16181411.5a365c","type":"ui_ui_control","z":"5f633a28.607134","name":"Update tab","events":"all","x":90,"y":300,"wires":[["3f3d5ab9.82b3a6"]]},{"id":"c5efdf55.db32f","type":"link out","z":"5f633a28.607134","name":"Refresh","links":["a6b24cea.e52a7"],"x":1115,"y":240,"wires":[]},{"id":"a6b24cea.e52a7","type":"link in","z":"5f633a28.607134","name":"","links":["c5efdf55.db32f"],"x":155,"y":240,"wires":[["79276db2.a2ce14"]]},{"id":"3f3d5ab9.82b3a6","type":"switch","z":"5f633a28.607134","name":"tab focus","property":"tab","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":300,"wires":[["79276db2.a2ce14"]]},{"id":"9c7f7b0.bc60a88","type":"json","z":"26bd2549.87e68a","name":"","property":"payload","action":"str","pretty":false,"x":450,"y":320,"wires":[[]]},{"id":"d01ec3f5.321e3","type":"change","z":"26bd2549.87e68a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":600,"wires":[[]]},{"id":"2a332601.d0b0ea","type":"function","z":"26bd2549.87e68a","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":160,"wires":[[]]},{"id":"979bc332.eec53","type":"inject","z":"a69c3a56.510bd8","name":"Register Payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"deviceId\":\"VeenaWITIoTDevice\"}","payloadType":"json","x":230,"y":260,"wires":[["e00290ef.1a1ca"]]},{"id":"7a5fa3ae.9fdeec","type":"debug","z":"a69c3a56.510bd8","name":"Log","active":true,"console":"false","complete":"true","x":740,"y":260,"wires":[]},{"id":"4148f20b.3a235c","type":"debug","z":"a69c3a56.510bd8","name":"Log","active":true,"console":"false","complete":"true","x":740,"y":200,"wires":[]},{"id":"45c9b4fe.7827cc","type":"azureiothub","z":"a69c3a56.510bd8","name":"Azure IoT Hub","protocol":"mqtt","x":430,"y":200,"wires":[["4148f20b.3a235c","1f327c6d.45e914"]]},{"id":"ae791556.422ac8","type":"inject","z":"a69c3a56.510bd8","name":"Send Payload","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"deviceId\":\"device146\",\"key\":\"FgySFuUzwtQMrlS29GRr7luoW07RNAmKcMy5oPDA8pA=\",\"protocol\":\"http\",\"data\":\"{tem: 25, wind: 20}\"}","payloadType":"json","x":220,"y":200,"wires":[["45c9b4fe.7827cc"]]},{"id":"8f33e095.2af4","type":"debug","z":"a69c3a56.510bd8","name":"Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":360,"wires":[]},{"id":"6ceb2cb5.1d33d4","type":"debug","z":"a69c3a56.510bd8","name":"Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":460,"wires":[]},{"id":"125e71e3.fb39ee","type":"inject","z":"a69c3a56.510bd8","name":"Send DeviceId","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"VeenaWITIoTDevice","payloadType":"str","x":230,"y":460,"wires":[["972ea0f5.311ec"]]},{"id":"e00290ef.1a1ca","type":"azureiothubregistry-ot","z":"a69c3a56.510bd8","name":"Azure IoT Hub Registry","x":490,"y":260,"wires":[["7a5fa3ae.9fdeec"]]},{"id":"83c4b771.831d08","type":"azureiothubreceiver-ot","z":"a69c3a56.510bd8","name":"Azure IoT Hub Receiver","x":480,"y":360,"wires":[["8f33e095.2af4","220eb660.c0791a"]]},{"id":"972ea0f5.311ec","type":"azureiothubdevicetwin-ot","z":"a69c3a56.510bd8","name":"Azure IoT Hub Device Twin","x":500,"y":460,"wires":[["6ceb2cb5.1d33d4","481a67ac.aee068"]]},{"id":"220eb660.c0791a","type":"json","z":"a69c3a56.510bd8","name":"","property":"payload","action":"","pretty":true,"x":660,"y":320,"wires":[[]]},{"id":"481a67ac.aee068","type":"ui_template","z":"a69c3a56.510bd8","group":"444ee94c.af6008","name":"","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":420,"wires":[[]]},{"id":"1f327c6d.45e914","type":"json","z":"a69c3a56.510bd8","name":"","property":"payload","action":"","pretty":false,"x":620,"y":140,"wires":[[]]},{"id":"4e6bbe15.7091e","type":"template","z":"7c7dc628.08a158","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sensor Data: {{payload}} !","output":"json","x":700,"y":220,"wires":[[]]},{"id":"1fa760f.5561f9f","type":"ui_template","z":"7c7dc628.08a158","group":"444ee94c.af6008","name":"","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":710,"y":360,"wires":[[]]},{"id":"e7fc246a.a5b1b8","type":"ui_template","z":"26bd2549.87e68a","group":"444ee94c.af6008","name":"","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":450,"y":280,"wires":[[]]},{"id":"6acc2a1.401a9d4","type":"ui_media","z":"78addb2c.12b354","group":"444ee94c.af6008","name":"","width":"6","height":"6","order":4,"category":"Smart Farm","file":"7 MODERN AGRICULTURE ROBOTS THAT YOU NEED TO KNOW_ UNIQUE ROBOTIC FARMING TECHNOLOGY.mp4","layout":"center","showcontrols":true,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":430,"y":220,"wires":[[]]},{"id":"d5c4fa84.e4c5a8","type":"cos-get","z":"f925f110.50bd2","name":"","bucket":"smatfarmobjectstorage","objectname":"smartfarmer2.PNG","mode":"1","filepath":"https://smartfarmtipsbucket.s3.eu.cloud-object-storage.appdomain.cloud/smartfarmer2.PNG","filename":"","geturl":false,"geturlExpiry":900,"cosconfig":"2a2cd9ea.73cda6","x":4380,"y":280,"wires":[["9672f45a.b97b28"]]},{"id":"9672f45a.b97b28","type":"ui_template","z":"f925f110.50bd2","group":"444ee94c.af6008","name":"","order":5,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":4650,"y":240,"wires":[[]]},{"id":"4044d260.11bddc","type":"cos-get","z":"f925f110.50bd2","name":"","bucket":"smatfarmobjectstorage","objectname":"smartfarmer3.PNG","mode":"1","filepath":"","filename":"","geturl":false,"geturlExpiry":900,"cosconfig":"1e4b4a0a.1a04d6","x":4400,"y":360,"wires":[["9672f45a.b97b28"]]},{"id":"43533492.9531bc","type":"inject","z":"aafc0f94.6fc66","name":"","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":89,"y":67,"wires":[["48b6e9f0.d271a8","b9bbdc1.c9bbe2","cb239309.e7f31"]]},{"id":"48b6e9f0.d271a8","type":"function","z":"aafc0f94.6fc66","name":"random","func":"var msg = {};\nvar msg1 = {};\n\nmsg.payload = Math.round(Math.random()*100);\nmsg.topic = 'Line';\n\nmsg1.payload = Math.round(Math.random()*100);\nmsg1.topic = 'Line1';\n\nreturn [msg, msg1];","outputs":2,"noerr":0,"x":170,"y":160,"wires":[["68ff1fd1.ffce4","69a616b4.778708","9417dbf0.ced388"],["9417dbf0.ced388","8381759d.688758","942e1691.340b98"]]},{"id":"68ff1fd1.ffce4","type":"ui_chart","z":"aafc0f94.6fc66","name":"Sensor Input","group":"5f5d8461.9b6d0c","order":0,"width":0,"height":0,"label":"Sensor Input","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Waiting for Data","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":359.5,"y":82,"wires":[[]]},{"id":"69a616b4.778708","type":"ui_gauge","z":"aafc0f94.6fc66","name":"","group":"5f5d8461.9b6d0c","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":125,"wires":[]},{"id":"8381759d.688758","type":"ui_slider","z":"aafc0f94.6fc66","name":"","label":"slider","group":"a4cc4c7a.38c8d","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":349,"y":313,"wires":[[]]},{"id":"942e1691.340b98","type":"ui_text","z":"aafc0f94.6fc66","group":"a4cc4c7a.38c8d","order":0,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":357,"wires":[]},{"id":"9417dbf0.ced388","type":"ui_chart","z":"aafc0f94.6fc66","name":"Sensor Input","group":"89145363.61cc9","order":0,"width":0,"height":0,"label":"Sensor Input","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Waiting for Data","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":379,"y":204,"wires":[[],[]]},{"id":"b9bbdc1.c9bbe2","type":"function","z":"aafc0f94.6fc66","name":"random","func":"min = Math.round(Math.random()*1000);\nmax = Math.round((Math.random()*10000)+1000);\n\nmsg.payload = {\n  factory: {\n    machine00: {\n      min: min,\n      max: max,\n      failProb: 20,\n      name: \"GE 5200\"\n    },\n    machine01: {\n      min: min*5,\n      max: max*2,\n      failProb: 10,\n      name: \"BB SQ100\"\n    }\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":176,"y":446,"wires":[["61f38b83.ebb474"]]},{"id":"61f38b83.ebb474","type":"ui_template","z":"aafc0f94.6fc66","group":"7a9b7006.b60ac","name":"","order":0,"width":"6","height":"2","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>RPM [min]</span>\n  <span flex>RPM [max]</span>\n  <span flex>Failure</span>\n  <span flex>Type</span>\n  <br/>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"machine in msg.payload.factory\">\n  <span flex style=\"color: green\">{{machine.min}}</span>\n  <span flex style=\"color: red\">{{machine.max}}</span>\n  <span flex style=\"color: black\">{{machine.failProb}}%</span>\n  <span flex style=\"color: black\">{{machine.name}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":361,"y":446,"wires":[[]]},{"id":"cb239309.e7f31","type":"function","z":"aafc0f94.6fc66","name":"random","func":"seed = Math.round(Math.random() * 1000);\n\nmsg.payload = {\n  officeW: seed,\n  storageW: seed / 4,\n  conW: seed / 12,\n  parkW:seed / 8,\n  serverW: seed / 2\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":177,"y":516,"wires":[["d34891c8.a107c"]]},{"id":"d34891c8.a107c","type":"ui_template","z":"aafc0f94.6fc66","group":"7a9b7006.b60ac","name":"","order":0,"width":"6","height":"6","format":"<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css\">\n <script src=\"https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js\"></script>\n <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js\"></script>\n <script src=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js\"></script>\n\n<div id=\"chart-example\" style=\"height: 250px;\"></div>\n\n<h3 align=\"center\">Power Consumption [W] </h3>\n\n<script>\n\n(function(scope) {\n var timer = setInterval(function() { //check that the Morris libs are loaded, if not wait\n if (!window.Morris) return;\n clearInterval(timer);\n \n var myData;\n \n var myDonut = Morris.Donut({\n element: 'chart-example',\n data: [\n {label: \"Office\", value: 1 },\n {label: \"Storage\", value: 1 },\n {label: \"Confernce\", value: 1 },\n {label: \"Parking\", value: 1 },\n {label: \"Server\", value: 1 }\n ]\n });\n \n scope.$watch('msg', function (msg) { //watch for an incoming NR msg\n if (msg) {\n \n myData = msg;\n myDonut.setData([\n {label: \"Office\", value: myData.payload.officeW },\n {label: \"Storage\", value: myData.payload.storageW },\n {label: \"Confernce\", value: myData.payload.conW },\n {label: \"Parking\", value: myData.payload.parkW },\n {label: \"Server\", value: myData.payload.serverW }\n ])\n };\n }); //close out the watch \n }, 100); // close out the setInterval \n})(scope);\n\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":363,"y":517,"wires":[[]]}]